@import "tailwindcss";

:root {
  --offWhite: #f8f8f8;
  --main-color: #fac06a;
  --primary-color: #ee2424;
}
html {
  scroll-behavior: smooth;
}
.mcbg {
  background-color: var(--main-color);
}
.ocbg {
  background-color: var(--offWhite);
}
.pcbg {
  background-color: var(--primary-color);
}
.text-main-color {
  color: var(--main-color);
}
.why-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.nav-blurry-bg {
  position: relative;
}

.nav-blurry-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E8C396;
  opacity: 0.96;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
}
