@import "tailwindcss";

:root {
  --offWhite: #2e2e2e;
  --main-color: #fac06a;
  --primary-color: #ee2424;
}
html {
  scroll-behavior: smooth;
}
.mcbg {
  background-color: var(--main-color);
}
.ocbg {
  background-color: var(--offWhite);
}
.pcbg {
  background-color: var(--primary-color);
}
.text-main-color {
  color: var(--main-color);
}
.text-primary-color{
  color: var(--primary-color);
}
.nav-blurry-bg {
  position: relative;
}

.nav-blurry-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--offWhite);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
}
.mobile-nav-blurry-bg {
  position: fixed;
}

.mobile-nav-blurry-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(50px);
  background-color: black;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
  position: fixed;
}
