@import "tailwindcss";

:root {
  --offWhite: #f9f9f9;
  --main-color: #fac06a;
  --primary-color: #ee2424;
    font-family: var(--font-noto);
}
html {
  scroll-behavior: smooth;
}
.mcbg {
  background-color: var(--main-color);
}
.ocbg {
  background-color: var(--offWhite);
}
.pcbg {
  background-color: var(--primary-color);
}
.text-main-color {
  color: var(--main-color);
}
.text-primary-color{
  color: var(--primary-color);
}
.nav-blurry-bg {
  position: relative;
}

.nav-blurry-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
}
.mobile-nav-blurry-bg {
  position: fixed;
}

.mobile-nav-blurry-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(50px);
  background-color: black;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
  position: fixed;
}
.treatment-title {
  position: relative;
  z-index: 0;

}
.treatment-title::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(50px);
    background-color: #9b9393;
    opacity: 0.5;
    -webkit-backdrop-filter: blur(50px);
    z-index: -1;
    border-radius: 10px;
}
.sub-title {
  position: relative;

}

.sub-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
}
.subH-title {
  position: relative;
}

.subH-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background-color: black;
  opacity: 0.2;
  -webkit-backdrop-filter: blur(50px);
  z-index: -1;
}
.precision {
  background-image: url(/departments-section/PDL.jpeg);
}